$dark-blue: #2947a9;
$black-color: #14171f;
$orange-color: #f9995d;
$bright-black: #292e3d;
$white-color: #ffffff;
$active-black: #2c3552;
$cream-color: #f6f8f7;
$dark-white: #e0e3eb;
$active-blue: #224acf;
$active-white: #727272;
$grey-color: #c2c7d6;
$bright-red: #c40303;
$active-orange: #e7620f;

html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_img {
  width: 38px;
  height: 47.5px;
  margin-left: 112px;
}
.logo_text {
  margin-left: 14px;
  color: $dark_blue;
  width: 111px;
  height: 35px;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
}
#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.menu_text {
  color: $black-color;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.link_pages {
  text-decoration: none;
}
.link_pages:hover {
  color: $orange-color;
}

#main_page {
  height: 646px;
  width: 100%;
  background-image: url(../img/bg.png);
  background-size: cover;
  display: flex;
}

#mission_text {
  width: 100%;
  margin-left: 112px;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: center;
}
#things_text {
  color: $bright-black;
}
#feature {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#feature_block {
  width: 30vw;
  height: 190px;
  background-color: $dark-blue;
}
#first_title {
  text-align: center;
  margin-top: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $white-color;
}
#second_title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $white-color;
}
#btns {
  height: 43px;
  display: flex;
  justify-content: space-around;
}
#back_btn {
  height: 100%;
  width: 49.5%;
  background-color: $bright-black;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.first_arrow {
  margin-top: -1px;
  margin-right: 10px;
}
.second_arrow {
  margin-top: -1px;
  margin-left: 10px;
}
.btn_text {
  color: $white-color;
}
#back_btn:hover {
  background-color: $active-black;
}
#next_btn {
  height: 100%;
  width: 49.5%;
  background-color: $bright-black;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
#next_btn:hover {
  background-color: $active-black;
}
#reasons {
  height: 433px;
  width: 100%;
}
#main_text {
  text-align: center;
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
#boxes {
  display: flex;
  gap: 65px;
  justify-content: center;
}
.reason_boxes {
  width: 292px;
  height: 197px;
  border: 1.4px solid $dark-white;
  border-radius: 4px;
}
.reasons_img {
  margin-top: 21px;
  margin-left: 21px;
}
.general_title {
  margin-top: 19px;
  margin-left: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.text_reason {
  margin-top: 18px;
  margin-left: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
#about_us {
  height: 945px;
  width: 100%;
  display: flex;
}
#founder_img {
  margin-top: 74px;
  margin-left: 114px;
  width: 902px;
  height: 669px;
}
#frame {
  height: 523px;
  min-width: 410px;
  position: relative;
  right: 170px;
  margin-top: 147px;
  border-radius: 2px;
  background-color: #2947a9;
}
#frame_title {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  margin-left: 40px;
  color: $white-color;
  margin-top: 50px;
}
.frame_text {
  margin-left: 40px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: $white-color;
}
#frame_btn {
  width: 219px;
  height: 53px;
  margin-top: 57px;
  margin-left: 40px;
  background-color: $white-color;
  color: $dark-blue;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #2947a9;
  border-radius: 6px;
  outline: 0;
  cursor: pointer;
}
#frame_btn:hover {
  background-color: #ffffffc7;
}
#services {
  height: 608px;
  width: 100%;
  background-color: $cream-color;
}
#services_text {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 44px;
}
#service_blocks_first {
  display: flex;
  justify-content: center;
  gap: 98px;
}
#service_blocks_second {
  display: flex;
  justify-content: center;
  gap: 98px;
  margin-top: 48px;
}
.service_card_w {
  height: 181px;
  width: 271px;
  border-radius: 4px;
  background-color: $white-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.w_img {
  height: 33px;
  width: 31px;
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 60px;
  height: 2px;
  margin-top: 20px;
  background-color: $dark-white;
}
.w_text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: $dark-blue;
  margin-top: 20px;
}
.b_text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: $white-color;
  margin-top: 20px;
}
.service_card_b {
  height: 181px;
  width: 271px;
  border-radius: 4px;
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.b_img {
  height: 33px;
  width: 31px;
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
}
#stats {
  height: 723px;
  width: 100%;
  display: flex;
}
#happy_clients {
  height: 155px;
  width: 280px;
  border-radius: 4px;
  margin-top: 65px;
  margin-left: 512px;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 59px;
}
#hands_img {
  height: 97px;
  width: 97px;
  position: relative;
  top: -25px;
  left: 211px;
}
#number_first {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  margin-top: -83px;
  margin-left: 30px;
}
#letter_img {
  height: 79px;
  width: 79px;
  position: relative;
  left: -39px;
  top: -48px;
}
.inside {
  display: flex;
}
.small_frame {
  width: 7px;
  height: 28px;
  background-color: $orange-color;
  margin-left: 46px;
}
.inside_text {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-left: 12px;
}
#projects_completed {
  height: 155px;
  width: 361px;
  border-radius: 4px;
  margin-left: 212px;
  background-color: $white-color;
}
#number_second {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  margin-top: -70px;
  margin-left: 30px;
}
#awards_win {
  height: 155px;
  width: 276px;
  border-radius: 4px;
  margin-left: 458px;
  background-color: $white-color;
  position: relative;
  top: -18px;
}
#number_third {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  margin-top: -85px;
  margin-left: 30px;
}
#award_img {
  height: 93px;
  width: 93px;
  position: relative;
  left: 204px;
  top: -15px;
}
#years_in_business {
  height: 155px;
  width: 333px;
  border-radius: 4px;
  margin-top: -62px;
  margin-left: 261px;
  background-color: $white-color;
}
#map_img {
  height: 84px;
  width: 84px;
  position: relative;
  left: 288px;
  top: 100px;
}
#number_fourth {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  margin-top: -85px;
  margin-left: 30px;
}
#experience_title {
  font-family: Work Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  color: $dark-blue;
  margin-top: 172px;
  margin-left: 152px;
}

#experience_text {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-top: -40px;
  margin-left: 152px;
}
#contact_btn {
  height: 53px;
  width: 176px;
  border-radius: 2px;
  margin-top: 50px;
  margin-left: 152px;
  cursor: pointer;
  background-color: $dark-blue;
  color: $white-color;
  border: 0;
  outline: 0;
}
#contact_btn:hover {
  background-color: $active-blue;
}
#ads {
  height: 300px;
  width: 100%;
  background-image: url(../img/ads_bg.png);
  display: flex;
}
#ads_title {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  color: $white-color;
  margin-top: 100px;
  margin-left: 112px;
}
#ads_text {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: $white-color;
  margin-top: 30px;
  margin-left: 112px;
}
#tel {
  color: $white-color;
}
#right_btn {
  display: flex;
  align-items: center;
}
#get_btn {
  width: 232px;
  height: 53px;
  border: 2px solid #ffffff;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color: $white-color;
  margin-left: 202px;
}
#get_btn:hover {
  background-color: $active-white;
}
#projects {
  height: 1098px;
  display: flex;
}
#projects_title {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 80px;
  margin-left: 112px;
}
#menu_block {
  max-width: 251px;
}
#projects_menu {
  margin-left: 72px;
  list-style-type: none;
}
.projects_links {
  text-decoration: none;
  color: $grey-color;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  border-left: 4px solid white;
  padding-left: 16px;
}
.projects_links:hover {
  border-left: 4px solid $dark-blue;
  padding-left: 16px;
  color: $dark-blue;
}
#project_cards {
  margin-top: 160px;
  margin-left: -35px;
}
#first_line_projects {
  display: flex;
  margin-left: 265px;
}
#wildstone_block {
  display: flex;
  flex-direction: column;
}

.box_text {
  width: 384px;
  height: 84px;
  background-color: $dark_blue;
}
.block_title {
  color: $white-color;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  margin-top: 12px;
  margin-left: 12px;
}
.block_text {
  color: $white-color;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-left: 12px;
}
#wish_block {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
#second_line_projects {
  display: flex;
  margin-top: 32px;
  margin-left: 265px;
}
#parkinston_block {
  display: flex;
  flex-direction: column;
}
#oregano_block {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
#projects_btns {
  display: flex;
  margin-top: 32px;
  margin-left: 265px;
  height: 64px;
  width: 800px;
  justify-content: space-between;
}
#back_button {
  height: 63px;
  width: 295px;
  background-color: $bright-black;
  color: $white-color;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
#back_button:hover {
  background-color: $active-black;
}
#circle_parts {
  height: 63px;
  width: 144px;
  display: flex;
  align-items: center;
  gap: 16px;
}
#active_circle {
  width: 16px;
  height: 16px;
}
.inactive_circle {
  width: 16px;
  height: 16px;
}
#next_button {
  height: 63px;
  width: 295px;
  background-color: $bright-black;
  color: $white-color;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
#next_button:hover {
  background-color: $active-black;
}
#contact_form {
  height: 632px;
  width: 100%;
  background-color: $cream-color;
}
#contact_title {
  padding-top: 60px;
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
#contact_text {
  margin-top: -25px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#first_line_inp {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.first_line {
  height: 41px;
  width: 280px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  border: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
#second_line_inp {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
}
#reason_inp {
  height: 41px;
  width: 280px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  border: none;
  background-image: url(../img/inp_circle.png);
  background-repeat: no-repeat;
  background-position: 253px;
  outline: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
#phone_inp {
  height: 41px;
  width: 280px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  border: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
#third_line_inp {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
#message_inp {
  height: 135px;
  width: 592px;
  padding-left: 8px;
  border-radius: 4px;
  resize: none;
  outline: none;
  border: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
#star {
  color: $bright-red;
}
#text_indicates {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 8px;
  margin-right: 424px;
}
#submit_btn {
  height: 53px;
  width: 271px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  background-color: $dark-blue;
  color: $white-color;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  cursor: pointer;
  border: none;
  outline: none;
}
#submit_btn:hover {
  background-color: $active-blue;
}
#bottom {
  height: 377px;
  display: flex;
  flex-direction: row;
}
#first_info_text {
  display: flex;
  margin-top: 85px;
}
#first_condition {
  margin-left: 112px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: $dark-blue;
}
#first_info {
  margin-left: 13px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.second_info_text {
  display: flex;
}
.two_conditions {
  margin-left: 112px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: $dark-blue;
}
#second_info {
  margin-left: 27px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}
#third_info {
  margin-left: 31px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

#newsletter_text {
  margin-top: 105px;
  margin-left: 323px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: $dark-blue;
}
#email_contact {
  margin-top: 20px;
  margin-left: 323px;
}
#email_inp {
  height: 41px;
  width: 280px;
  margin-top: 20px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid $dark-white;
  outline: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
#subs_btn {
  height: 41px;
  width: 136px;
  border-radius: 4px;
  background-color: $orange-color;
  color: $white-color;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}
#subs_btn:hover {
  background-color: $active-orange;
}
#social_text {
  margin-top: 42px;
  margin-left: 323px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: $dark-blue;
}
#social_sites {
  margin-top: 27px;
  margin-left: 323px;
  display: flex;
  gap: 21px;
}
#footer {
  height: 70px;
  width: 100%;
  background-color: $dark-blue;
  color: $white-color;
  display: flex;
  align-items: center;
  padding-left: 112px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
